body {
  margin : 0;
  background-color: #303030;
  color : white
}

.user-info {
  text-align: center;
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 15px;
  font-size: 15px;
}
.title {
  text-align: center;

  font-size: 50pt;
}

.title-sub {
  text-align: center;
}

.navbar {
  background: white;
  padding: 20px;
  text-align: center;
  color: #303030;
  font-weight: 700;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;

} 

.about-img {
  text-align: center;
}

.def {
  text-align: center;
  font-size: large;
}

.about-title {
  font-size: 30px;
  text-align: center;
}

.food {
  text-align: center;
}
.usertitle {
  text-align: center;
  font-size: 30px;
}

.title_user{
  text-align: center;
  font-size: 30px;
}

.img_user{
  height: auto;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 

.cart_css {
  width: 300px;
  display: flex;
  justify-content: center;
}

.cart-line {
  font-size: large;
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid grey;
}